
.verticalCenterWrapper {
  display: table;
  height: 100%;
  min-height: 100vh; /* TODO WEIRD SHIT */
  width: 100%;
}

.verticalCenter {
  display: table-cell;
  width: 100%;

  vertical-align: middle;
}

.gameWrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.header {
  background-color: #393939;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 10px 15px;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

}

.roundNumber {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .header .roundNumber {
    text-align: left;
  }
}

.card {
  display: inline-block;
}

// main
.main {
  width: calc(100% / 7 * 2);
  display: inline-block;

  border-radius: 10px;
  background-color: #393939;

  margin-bottom: 10px;
  padding: 5px;

  vertical-align: top;

  .card {
    padding: 5px;
    width: calc(50%);
  }
}

.bonusRoundMain {
  width: calc(100% / 7);

  .card {
    padding: 5px;
    width: 100%;
  }
}

// info
.info {
  margin-top: 15px;
  border-top: 1px solid #444;
  padding-top: 15px;
}

.statusBar {
  display: block;
  background-color: #393939;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 1.6em;
  margin: 10px 10px 0 10px;
}

.timer {
  text-align: right;
  font-weight: bold;
  color: #fff;
}

.highlight {
  color: #fff;
}

.chat {
  padding-right: 10px;
}
