
.hand {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.card {
  margin: 0 5px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.judgePickDialog {
  display: flex;
  justify-content: space-around;

  & > div {
    margin: 0 10px;
  }

  & > div:nth-child(2) {
    transform: scale(.8);
  }
}