
.hand {
  position: relative;
  display: block;
  min-height: 100px;
  height: 50%;
}

.card {
  position: relative;
  display: inline-block;
  max-width: calc(100% / 7);
  height: 100%;
  padding: 15px 7.5px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}