
.wrapper {
  padding: 15px;
}

.subTitle {
  text-align: center;
}

.playersWrapper {
  display: flex;
  flex-direction: column !important;
}

.settingsWrapper, .playersWrapper {
  margin-top: 15px !important;
}

.playersList {
  flex: 1 auto;
}

.playersActions {
  margin-top: 35px;
  text-align: center;
}

.textCenter {
  text-align: center;
}