
.table {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 25px 0;
}

.bonusTable {
  flex-direction: row-reverse;
}

.startCards {
  flex-shrink: 0;
  max-width: 100%;
  margin-bottom: 10px;
}

.startCards .paper {
  padding: 10px 2.5px;

  & > div {
    display: flex;
  }

  & .card {
    padding: 0 7.5px;
    transform: none;
  }
}

.pickedCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.pickedCards .card {
  transform: scale(.9);
  padding: 10px 0;
}

.cardGroup {
  display: flex;
  padding: 0 5px;
  margin: 0 5px;

  & .card:first-child {
    margin-right: -10px;
  }
}