
.table {
  margin: 15px 0 25px 0;
}

.startCards {
  display: inline-block;
  margin-right: 15px;

  padding: 10px;

  & > div {
    display: flex;
  }

  & .card {
    padding: 0 7.5px;
    transform: none;
  }
}

.card {
  display: inline-block;

  transform: scale(.9);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}