
.table {
  display: flex;
  margin: 15px 0 25px 0;
}

.bonusTable {
  flex-direction: row-reverse;
}

.startCards {
  flex-shrink: 0;
}

.startCards .paper {
  margin: 0 15px;
  padding: 10px 2.5px;

  & > div {
    display: flex;
  }

  & .card {
    padding: 0 7.5px;
    transform: none;
  }
}

.pickedCards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  transform: scale(.9);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.cardGroup {
  display: flex;
  padding: 0 5px;
  margin: 0 5px;

  & .card:first-child {
    margin-right: -10px;
  }
}